.header {
	margin: 0px;
}
.inlog {
	color: black;
	background-color: white;
	border: none;
	border-radius: 5px;
	padding: 5px 10px 5px 10px;
	margin: 10px;
}
.home {
	padding-left: 0px;
	padding-right: 0px;
}
.vak {
	padding: 150px 0px 150px 0px;
}
* {
    margin: 0;
}
html, body {
    height: 100%;
}
.wrapper {
    min-height: 100%;
    height: auto !important;
    height: 100%;
    margin: 0 auto -55px; 
}
.carousel-inner > .item > img,
  .carousel-inner > .item > a > img {
    margin: auto;
	
}
.carousel-inner > .item > img {
	padding-top: 50px;
	height: 500px;
}
.carousel-inner {
	height: 500px;
	width: 100%;
}
.content {
    padding-top: 0px;
}
.container {
	padding-top: 80px;
}

